{% extends "core/plantilla.html" %}
{% load static %}

{% block contenido %}
    <!-- ACA VA EL CONTENIDO DE LA PAGINA-->
    <!--NAVEGAR EN LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'INDEX' %}">Inicio</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'PRODUCTOS' %}">Productos</a>
                    <span class="breadcrumb-item active">Carrito de compras</span>
                </nav>
            </div>
        </div>
    </div>
    <!------------------------>

    <!-- INICIO DEL CARRITO DE COMPRAS -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Calibre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Eliminar producto</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle"><img src="img/manzana.jpg" alt="" style="width: 50px;">Manzana (Kg)</td>
                            <td class="align-middle">Alto</td>
                            <td class="align-middle">$1.500</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$1.500</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="img/pepino.jpg" alt="" style="width: 50px;">Pepino (Unidad)</td>
                            <td class="align-middle">Bajo</td>
                            <td class="align-middle">$1.000</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$1.000</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="img/platano.jpg" alt="" style="width: 50px;">Platano (Kg)</td>
                            <td class="align-middle">Alto</td>
                            <td class="align-middle">$1.350</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$1.350</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="img/pera.jpg" alt="" style="width: 50px;">Pera (Kg)</td>
                            <td class="align-middle">Alto</td>
                            <td class="align-middle">$1.000</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$1.000</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                        </tr>
                        <tr>
                            <td class="align-middle"><img src="img/frutilla.jpeg" alt="" style="width: 50px;">Frutilla (Kg)</td>
                            <td class="align-middle">Alto</td>
                            <td class="align-middle">$5.000</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-success btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">$5.000</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--HASTA ACA LA TABLA CON LOS PRODUCTOS DEL CARRITO-->

            <!--ACA EMPIEZA EL SUBTOTAL-->
            <div class="col-lg-4">
                
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">COSTO TOTAL</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$9.850</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Envio</h6>
                            <h6 class="font-weight-medium">$0</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">IVA</h6>
                            <h6 class="font-weight-medium">$1.300</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$11.150</h5>
                        </div>
                        <button class="btn btn-block btn-success font-weight-bold my-3 py-3">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN DEL CARRITO -->
    
    <!-- INICIO DE LA SECCIÓN DE LOS PRODUCTOS -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">PRODUCTOS MAS FRECUENTES</span></h2>
        <div class="row px-xl-5">

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/pera.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Pera</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$1.000</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/manzana.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Manzana</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$1.500</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/platano.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Platano</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$1.350</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/melon.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Melón</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$1.560</h6>
                        </div>

                        <!--Estrellas -->
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/sandia.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Sandía</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$3.000</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/kiwi.jpeg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Kiwi</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$2.000</h5><h6 class="text-muted ml-2"><del>$3.000</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/frutilla.jpeg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Frutilla</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$5.000</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/cereza.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Cereza</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$3.000</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- FIN DE LA SECCIÓN DE PRODUCTOS-->

{% endblock contenido %}