{% extends "core/plantilla.html" %}
{% load static %}

{% block contenido %}

    <!--NAVEGAR EN LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% static 'INDEX' %}">Inicio</a>
                    <span class="breadcrumb-item active">Contacto</span>
                </nav>
            </div>
        </div>
    </div>

    <!--ACA VA TODO EL FORMULARIO DE REGISTRO-->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 mx-auto">
                <div class="bg-light p-30 mb-5">
                    <div class="row">

                        <!--PALABRAS DENTRO DEL FORMULARIO PARA SEPARAR-->
                        <div class="col-12">
                            <h3 class="section-title position-relative text-uppercase mb-3 text-center"><span class="bg-light pr-3">FORMULARIO DE CONTACTO</span></h3>
                        </div>
                        <!-------------------SON DE 4 EN 4---------->
                        <div class="col-md-6 form-group">
                            <label>Nombre</label>
                            <input class="form-control" type="text" placeholder="Ingrese su nombre">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Apellido</label>
                            <input class="form-control" type="text" placeholder="Ingrese su apellido">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Correo</label>
                            <input class="form-control" type="email" placeholder="Ingrese su email">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Tipo de Usuario</label>
                            <input class="form-control" type="text" placeholder="Ingrese su tipo de usuario">
                        </div>
                        
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" rows="8" id="message" placeholder="Mensaje"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="Formulario_contacto">
                                <label class="custom-control-label" for="Formulario_contacto">Deseo recibir una copia de este formulario</label>
                            </div>
                        </div>

                        <div class="col-md-6 form-group text-right">
                            <button type="button" class="btn btn-success btn-lg mb-1 w-50" data-bs-toggle="modal" data-bs-target="#modal-formu-contacto">
                               Enviar
                            </button>
                        </div>
                    </div>
                </div>              
            </div>            
        </div>
    </div>

    <!--MODAL PARA ACEPTAR TERMINOS Y CONDICIONES-->
    <div class="modal fade" id="modal-formu-contacto" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-formu-contactoLabel">MENSAJE</h5>
                </div>
                <div class="modal-body">
                    Su formulario ha sido enviado con éxito!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnFormu-contacto" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>
    <!------------------------------------------>

{% endblock contenido %}

{% block script %}
    <!--Modal para recargar todo cuando se de en aceptar-->
    <script>
        document.getElementById("btnFormu-contacto").addEventListener("click", function() {
            location.reload(); // Recargar la página cuando se hace clic en el botón "Aceptar"
        });
    </script>
    <!-------------------------------------------------->
{% endblock script %}

   


   