{% extends "core/plantilla.html" %}
{% load static %}



{% block contenido %}

<!--FORMULARIO DE INICIO DE SESIÓN-->
<div class="container-fluid bg-dark mt-5 mb-5 custom-container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <form id="loginForm" class="mb-4" method="post" action="{% url 'INICIO_SESION' %}">
                {% csrf_token %}
                <h2 class="text-white text-center mb-3 mt-5">INICIAR SESIÓN</h2>
                <div class="mb-3">
                    <label for="inputCorreo" class="form-label text-white">Correo electrónico</label>
                    <input type="text" class="form-control" id="inputCorreo" name="correo" placeholder="correo@ejemplo.com" minlength="5" maxlength="40" required>
                </div>
                <div class="mb-4">
                    <label for="inputPassword" class="form-label text-white">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" name="contrasena" placeholder="Ingresa tu contraseña" minlength="5" maxlength="40" required>
                    <a href="#" class="nav-item nav-link text-success text-center mt-3">Olvidé mi contraseña</a>
                </div>
                <div class="mb-3">
                    <button id="btnLogin" class="btn btn-success btn-block mb-5" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------->
{% endblock contenido %}

{% block script %}
{% endblock script %}

    

