{% extends "core/plantilla2.html" %}
{% load static %} 


{% block contenido %}

    <!--CONTENIDO DEL LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            
            <!--DATOS BASICOS DEL TRANSPORTISTA-->
            <div class="col-lg-4">
                
                <div class="bg-light p-10 mb-2 text-center">
                    <h1 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Transportista</span></h1>
                </div>
                <div class="bg-light p-30 mb-5">
                    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Información</span></h2>
                    <h3><a href="{% url 'TRANSP_DATOS' %}" class="color-links">DATOS</a></h3>
                    <h3><a href="{% url 'TRANSP_DOMICI' %}" class="color-links">DOMICILIO</a></h3>
                    <h3><a href="{% url 'TRANSP_VEHI' %}" class="color-links">MIS VEHÍCULOS</a></h3>
                    <h3><a href="{% url 'TRANSP_PEDI' %}" class="color-links">PEDIDOS</a></h3>
                    <h3><a href="{% url 'TRANSP_TRANSPOR' %}" class="color-links">MIS TRANSPORTES</a></h3>
                </div>

            </div>

            <div class="col-lg-8 mx-auto">
                <div class="bg-light p-30 mb-5">
                    <div class="row">

                        <!--PALABRAS DENTRO DEL FORMULARIO PARA SEPARAR-->
                        <div class="col-12">
                            <h3 class="section-title position-relative text-uppercase mb-3 mt-3 text-left"><span class="bg-light pr-3">DATOS PERSONALES</span></h3>
                        </div>
                        <!-------------------SON DE 4 EN 4---------->
                        <div class="col-md-6 form-group">
                            <label>Nombre</label>
                            <input class="form-control" type="text" placeholder="{{user_info.Nombre}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Apellido</label>
                            <input class="form-control" type="text" placeholder="{{user_info.Apellido}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número de identificación</label>
                            <input class="form-control" type="text" placeholder="{{user_info.Rut_completo}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Fecha de nacimiento </label>
                            <input class="form-control" type="text" placeholder="{{user_info.Fecha_nacimiento}}" readonly>
                        </div>

                        <div class="col-md-6 form-group">
                            <label></label>
                        </div>

                        <div class="col-md-6 form-group text-center">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Input oculto con el valor de pedido.id_pedido -->
                                <input type="hidden" name="rut_usuario_DesactivarTranspor" value="{{ user_info.Rut_usuario }}">

                                <button type="button" class="btn btn-danger btn-lg mb-1 w-65" data-bs-toggle="modal" data-bs-target="#modal-inhabilitar-cuenta-transpor">
                                    Inhabilitar cuenta
                                </button>

                                <!-------------MODAL PARA PREGUNTAR SI DESEA INHABILITAR SU CUENTA----------->
                                <div class="modal fade" id="modal-inhabilitar-cuenta-transpor" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content text-center">
                                            <div class="modal-header justify-content-center">
                                                <h5 class="modal-title" id="modal-avisoLabel">ADVERTENCIA</h5>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea inhabilitar su cuenta?
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-success" id="btnDeshabilitarSI" data-bs-target="#modal-aviso-inhabilitacion">Si</button>
                                                <button type="button" class="btn btn-danger" id="btnDeshabilitarNO" data-bs-dismiss="modal" aria-label="Close">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!------------------MODAL PARA AVISAR QUE SU CUENTA FUE DESHABILITADA---------------------->
                                <div class="modal fade" id="modal-aviso-inhabilitacion" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content text-center">
                                            <div class="modal-header justify-content-center">
                                                <h5 class="modal-title" id="modal-avisoLabel">MENSAJE</h5>
                                            </div>
                                            <div class="modal-body">
                                                Su cuenta ha sido Inhabilitada!!
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="submit" class="btn btn-danger" id="btnCuentaEliminada" data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>              
            </div>  

        </div>
    </div>

    <!--MODAL PARA MODIFICAR DATOS PERSONALES TRANSPORTISTA-->

    <div class="modal fade" id="modal-modificar-transporte1" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-formu-contactoLabel">MENSAJE</h5>
                </div>
                <div class="modal-body">
                    Sus datos personales han sido modificados!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnAceptar-modificacion" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>

    

{% endblock contenido %}

{% block script %}

    <!--Modal para recargar todo cuando se de en aceptar-->
    <script>
        document.getElementById("btnAceptar-modificacion").addEventListener("click", function() {
            location.reload(); // Recargar la página cuando se hace clic en el botón "Aceptar"
        });
    </script>

    <!----------MODAL PARA AVISAR QUE LA CUENTA FUE INHABILITADA----->
    <script>
        document.getElementById('btnDeshabilitarSI').addEventListener('click', function () {
            $('#modal-aviso-inhabilitacion').modal('show');
        });
    </script>

    <!----------------------MODAL PARA VOLVER SALIR Y VOLVER AL INDICE------------------------->
    <script>
        document.getElementById('btnCuentaEliminada').addEventListener('click', function () {
            window.location.href = '{% url 'INDEX' %}';
        });
    </script>

{% endblock script %}
  