{% extends "core/plantilla2.html" %}
{% load static %} 

{% block contenido %}

    <!--CONTENIDO DEL LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            
            <div class="col-lg-4">
                
                <div class="bg-light p-10 mb-2 text-center">
                    <h1 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Transportista</span></h1>
                </div>
                <div class="bg-light p-30 mb-5">
                    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Información</span></h2>
                    <h3><a href="{% url 'TRANSP_DATOS' %}" class="color-links">DATOS</a></h3>
                    <h3><a href="{% url 'TRANSP_DOMICI' %}" class="color-links">DOMICILIO</a></h3>
                    <h3><a href="{% url 'TRANSP_VEHI' %}" class="color-links">MIS VEHÍCULOS</a></h3>
                    <h3><a href="{% url 'TRANSP_PEDI' %}" class="color-links">PEDIDOS</a></h3>
                    <h3><a href="{% url 'TRANSP_TRANSPOR' %}" class="color-links">MIS TRANSPORTES</a></h3>
                </div>

            </div>

            <!--------------------------->
            <div class="col-lg-8 mx-auto">
                <form id="miFormularioREGISTRO_TRANSPORTE" method="post" action="{% url 'TRANSP_VEHI' %}">
                    {% csrf_token %}
                    <div class="bg-light p-30 mb-2">
                        <div class="row">
                            <!--CAMPO OCULTO-->
                            <input type="hidden" name="formulario_id" value="miFormularioREGISTRO_TRANSPORTE">
                            <!--PALABRAS DENTRO DEL FORMULARIO PARA SEPARAR-->
                            <div class="col-12">
                                <h4 class="section-title position-relative text-uppercase mb-3 mt-3 text-left"><span class="bg-light pr-3">VEHÍCULO</span></h4>
                            </div>
                            <!-------------------SON DE 4 EN 4---------->
                            <div class="col-md-6 form-group">
                                <label for="id_patente">Placa Patente</label>
                                <input name="patente" id="id_patente" class="form-control" type="text" placeholder="ABAB11" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_capacidad_carga">Capacidad de Carga</label>
                                <input name="capacidad_carga" id="id_capacidad_Carga" class="form-control" type="number" placeholder="2000" required>
                            </div>
                            
                            <!--------------------------------------------->
                            <div class="col-md-6 form-group">
                                <label for="id_frigorifico">Frigorífico</label>
                                <select name="frigorifico" id="id_frigorifico" class="custom-select" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="id_permiso_circulacion">Permiso Circulación</label>
                                <select name="permiso_circulacion" id="id_permiso_circulacion" class="custom-select" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                            </div>

                            <!---------------------------------------------->
                            <div class="col-md-6 form-group">
                                <label>Rut Transportista</label>
                                <input name="" id="" class="form-control" type="text" placeholder="{{user_info.Rut_completo}}" readonly>
                            </div>                            
                                            
                            <div class="col-md-6 form-group"> 
                                <label>Marca</label>                                          
                                <select class="custom-select" name="marca" id="id_marca" onchange="cambiarModelo()" required>
                                    <option value="">Seleccione Marca</option>
                                    {% for m in marcas %}
                                    <option value="{{ m.id_marca }}">{{ m.nombre_marca}}</option>                                                
                                    {% endfor %}
                                </select>
                            </div>
                            <!----COMBOBOX---MODELO----->
                            <div class="col-md-6 form-group">       
                                <label for="id_modelo">Modelo</label>                                      
                                <select class="custom-select" id="id_modelo" name="modelo" required>
                                    
                                </select>
                            </div>
                            
                            <!---------PARA SEPARAR EL FORMULARIO--------->                                     
                            <div class="col-md-6 form-group">
                                <label></label>
                            </div>                                               
                            <div class="col-md-6 form-group">
                                <label></label>
                            </div>                                                  
                              
                            <!------------------------------------------------>
                            <div class="col-md-12 d-flex justify-content-end">                    
                                <button type="button" class="btn btn-info btn-lg mb-1 col-5" id="btnMostrarModalVEHICULO">
                                    Añadir
                                </button>                                
                            </div>  


                            <!--MODAL PARA MODIFICAR DATOS VEHÍCULO-->
                            <div class="modal fade" id="modal-registro-vehiculo" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-center">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title" id="modal-formu-contactoLabel">MENSAJE</h5>
                                        </div>
                                        <div class="modal-body">
                                            Se ha agregado el vehiculo exitosamente!
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-success" id="btnAceptar-agregadoVEHICULO" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            
                        </div>                
                    </div> 
                </form>             
            </div>    

            <!-------------------TABLA LISTA DE LOS VEHÍCULOS---------->
            <div class="col-md-12 form-group">
                <table class="table table-dark table-striped table-hover border border-light">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none d-md-table-cell">PLACA PATENTE</th>
                            <th scope="col">CAPACIDAD DE CARGA</th>
                            <th scope="col" class="d-none d-md-table-cell">¿POSEE FRIGORIFICO?</th>
                            <th scope="col">¿CUENTA CON PERMISO DE CIRCULACIÓN?</th>                      
                            <th scope="col" class="d-none d-md-table-cell">MODELO VEHÍCULO</th> 
                            <th scope="col"></th>                       
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehiculos %}
                        <tr>
                            <th scope="row" class="d-none d-md-table-cell">{{ v.patente }}</th>
                            <td >{{ v.capacidad_carga}}</td>
                            <td class="d-none d-md-table-cell">
                                {% if v.frigorificotrans == '1' %}
                                    Si posee
                                {% elif v.frigorificotrans == '0' %}
                                    No posee
                                {% endif %}
                            </td>
                            <td>
                                {% if v.permisocirculacion == '1' %}
                                    Si posee
                                {% elif v.permisocirculacion == '0' %}
                                    No posee
                                {% endif %}
                            </td>       
                            <td class="d-none d-md-table-cell">{{v.modelo_idmodelo}}</td> 
                            <td class="align-middle">
                                <form id="formulario_eliminarVEHICULO" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!--CAMPO OCULTO-->
                                    <input type="hidden" name="formulario_id" value="formulario_eliminarVEHICULO">

                                    <!-- Input oculto con la patente (para eliminar el vehiculo) -->
                                    <input type="hidden" name="patente_eliminar" value="{{ v.patente }}">
                                    
                                    <!-- Botón de submit para desactivar -->
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-eliminar-vehiculo">
                                        <i class="fa fa-times"></i>
                                    </button>                                  

                                    <!-------------MODAL PARA PREGUNTAR SI DESEA ELIMINAR UN VEHÍCULO----------->
                                    <div class="modal fade" id="modal-eliminar-vehiculo" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content text-center">
                                                <div class="modal-header justify-content-center">
                                                    <h5 class="modal-title" id="modal-avisoLabel">ADVERTENCIA</h5>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    ¿Está seguro que eliminar este vehículo?
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-success" id="btnElimiVehiculoSI">Si</button>
                                                    <button type="button" class="btn btn-danger" id="btnElimiVehiculoNO" data-bs-dismiss="modal" aria-label="Close">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <!--MODAL SU VEHICULO FUE ELIMINADO-->
                                    <div class="modal fade" id="modal-aceptarELIMINACION" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content text-center">
                                                <div class="modal-header justify-content-center">
                                                    <h5 class="modal-title" id="modal-avisoLabel">AVISO</h5>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    Su vehiculo fue eliminado !
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="submit" class="btn btn-danger" id="btnAceptar2" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                                                             
                        </tr> 
                        {% endfor %}                                       
                    </tbody>
                </table>
                
            </div>         
        </div>
        
    </div>

    <!------------------------------------------------------------------------------------------------------------>
    <!--MODAL PARA PEDIR LLENAR CAMPOS OBLIGATORIOS DEL FORMULARIO-->
    <div class="modal fade" id="modal-aviso-DATOS-VEHICULO" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-avisoLabel">AVISO</h5>
                </div>
                <div class="modal-body">
                    Por favor, complete correctamente todos los campos obligatorios!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-outline-info" id="btnAceptar2" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL ERROR EN LA PATENTE!!-->
    <div class="modal fade" id="modal-error-patente" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-avisoLabel">AVISO</h5>
                </div>
                <div class="modal-body">
                    Por favor, Ingrese una patente válida
                    Ej: AAAA11 o AA1111
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-danger" id="btnAceptar2" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------------------------------------------------------------------------->

    <!--MODAL PARA MODIFICAR DATOS VEHÍCULO-->
    <div class="modal fade" id="modal-modificar-vehiculo" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-formu-contactoLabel">MENSAJE</h5>
                </div>
                <div class="modal-body">
                    Los datos de este vehículo han sido modificados!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnAceptar-modificacion" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>

{% endblock contenido %}

{% block script %}

    <!--Para recargar todo cuando se de en aceptar-->
    <script>
        document.getElementById("btnAceptar-modificacion").addEventListener("click", function() {
            location.reload(); // Recargar la página cuando se hace clic en el botón "Aceptar"
        });
    </script>


    <!----------MODAL PARA AVISAR QUE EL VEHÍCULO FUE ELIMINADO----->
    <script>
        document.getElementById('btnElimiVehiculoSI').addEventListener('click', function () {
            $('#modal-aviso-eliminacionVehi').modal('show');
        });
    </script>

    <!----------------------MODAL PARA VOLVER SALIR Y AVOLVER A LOS VEHICULOS DEL TRANSPORTISTA------------------------->
    <script>
        document.getElementById('btnCuentaEliminada').addEventListener('click', function () {
            window.location.href = '{% url 'TRANSP_VEHI' %}'
        });
    </script>

    <!--SCRIPT PARA EL COMBO BOX Modelo--->
    <script>
        function cambiarModelo() {
            
            let marcaID = document.getElementById("id_marca").value;
            //alert(paisID);
            let url = '/modelos/?marca='+ marcaID;
            //alert(url)
            fetch(url)
                .then(function(result){
                    return result.text();
                })
                .then(function(result){
                    document.getElementById("id_modelo").innerHTML = result;
                });
        }
    </script>
    

{% endblock script %}