{% extends "core/plantilla2.html" %}
{% load static %} 

{% block contenido %}

    <!--CONTENIDO DEL LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            
            <div class="col-lg-4">
                
                <div class="bg-light p-10 mb-2 text-center">
                    <h1 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Transportista</span></h1>
                </div>
                <div class="bg-light p-30 mb-5">
                    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Información</span></h2>
                    <h3><a href="{% url 'TRANSP_DATOS' %}" class="color-links">DATOS</a></h3>
                    <h3><a href="{% url 'TRANSP_DOMICI' %}" class="color-links">DOMICILIO</a></h3>
                    <h3><a href="{% url 'TRANSP_VEHI' %}" class="color-links">MIS VEHÍCULOS</a></h3>
                    <h3><a href="{% url 'TRANSP_PEDI' %}" class="color-links">PEDIDOS</a></h3>
                    <h3><a href="{% url 'TRANSP_TRANSPOR' %}" class="color-links">MIS TRANSPORTES</a></h3>
                </div>

            </div>

            <!---CONTENEDOR ORIGINAL-->
            <!--------------------------->
            <div class="col-lg-8 mx-auto">
                <div class="bg-light p-30 mb-2">
                    <div class="row">

                        <!--PALABRAS DENTRO DEL FORMULARIO PARA SEPARAR-->
                        <div class="col-12">
                            <h4 class="section-title position-relative text-uppercase mb-3 mt-3 text-left"><span class="bg-light pr-3">VEHÍCULO</span></h4>
                        </div>
                        <!-------------------SON DE 4 EN 4---------->
                        <div class="col-md-6 form-group">
                            <label>Placa Patente</label>
                            <input class="form-control" type="text" placeholder="AB-AB-11">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Capacidad de Carga</label>
                            <input class="form-control" type="text" placeholder="2.500 Kg.">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Marca</label>
                            <input class="form-control" type="text" placeholder="KIA">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Modelo</label>
                            <input class="form-control" type="text" placeholder="FRONTIER">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Año</label>
                            <input class="form-control" type="text" placeholder="2023">
                        </div>
                        
                        <div class="col-md-6 form-group">  
                            <label>Tipo Carrozado</label>                                    
                            <select class="custom-select">
                                <option selected>Carroceria Cerrada</option>
                                <option>Carroceria Abierta</option>
                                <option>Carrozado Frigorifico</option>
                                <option>Carrozado Adicional</option>
                            </select>
                        </div>                      
                        <div class="col-md-6 form-group">                        
                            <!---------------DOCUMENTACIÓN DEL VEHÍCULO------------------------------>
                            <div class="col-12 form-group mb-0">
                                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pr-3">Documentos</span></h6>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="permiso-circulacion">
                                        <label class="custom-control-label" for="permiso-circulacion">Permiso de Circulación</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="seguro-soap">
                                        <label class="custom-control-label" for="seguro-soap">Seguro Obligatorio (SOAP)</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="padron-vehículo">
                                        <label class="custom-control-label" for="padron-vehículo">Padrón Vehículo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="revision-tecnica">
                                        <label class="custom-control-label" for="revision-tecnica">Revisión Técnica / Homologado</label>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-md-6 form-group">
                            <label></label>
                        </div>                                               
                        <div class="col-5 form-group mt-3">                                    
                            <select class="custom-select">
                                <option selected>Permiso de Circulación</option>
                                <option>Seguro Obligatorio (SOAP)</option>
                                <option>Padrón Vehículo</option>
                                <option>Revisión Técnica / Homologado</option>
                            </select>
                        </div>                        
                        <div class="col-7 form-group mt-3">                                                       
                            <input class="form-control col-6" type="file" id="formFileMultiple" multiple accept=".pdf, .doc, .docx">
                        </div>       
                        <div class="col-6 form-group mt-3">                                                       
                            <!-----ES PARAR PODER TENER LA SEPARACIÓN-->                            
                        </div>        
                        <div class="col-md-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-danger btn-lg mb-1 col-5" data-bs-toggle="modal" data-bs-target="#modal-eliminar-vehiculo">
                                Eliminar
                            </button>
                            <button type="button" class="btn btn-success btn-lg mb-1 col-5 ml-2" data-bs-toggle="modal" data-bs-target="#modal-modificar-vehiculo">
                                Modificar
                            </button>
                        </div>                                                                                                                    
                    </div>                
                </div>              
            </div>  
 
        </div>

        <!------------------------------------------------------------->
        <!---------SEGUNDO CONTENEDOR DE EJEMPLO------>
        <div class="row px-xl-5 d-none" id="contenedor-ejemplo">
    
            <div class="col-lg-4">
                
                <div class="p-10 mb-2 text-center">
                  
                </div>
                <div class="p-30 mb-5">
                    
                </div>

            </div>

            <!---?????????????????????????????-->
            <div class="col-lg-8 mx-auto">
                <div class="bg-light p-30 mb-2">
                    <div class="row">

                        <!--PALABRAS DENTRO DEL FORMULARIO PARA SEPARAR-->
                        <div class="col-12">
                            <h4 class="section-title position-relative text-uppercase mb-3 mt-3 text-left"><span class="bg-light pr-3">VEHÍCULO</span></h4>
                        </div>
                        <!-------------------SON DE 4 EN 4---------->
                        <div class="col-md-6 form-group">
                            <label>Placa Patente</label>
                            <input class="form-control" type="text" placeholder="AB-AB-11">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Capacidad de Carga</label>
                            <input class="form-control" type="text" placeholder="2.500 Kg.">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Marca</label>
                            <input class="form-control" type="text" placeholder="KIA">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Modelo</label>
                            <input class="form-control" type="text" placeholder="FRONTIER">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Año</label>
                            <input class="form-control" type="text" placeholder="2023">
                        </div>
                        
                        <div class="col-md-6 form-group">  
                            <label>Tipo Carrozado</label>                                    
                            <select class="custom-select">
                                <option selected>Carroceria Cerrada</option>
                                <option>categoria 1</option>
                                <option>categoria 2</option>
                                <option>categoria 3</option>
                            </select>
                        </div>                      
                        <div class="col-md-6 form-group">                        
                            <!---------------DOCUMENTACIÓN DEL VEHÍCULO------------------------------>
                            <div class="col-12 form-group mb-0">
                                <h6 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pr-3">Documentos</span></h6>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="permiso-circulacion">
                                        <label class="custom-control-label" for="permiso-circulacion">Permiso de Circulación</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="seguro-soap">
                                        <label class="custom-control-label" for="seguro-soap">Seguro Obligatorio (SOAP)</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="padron-vehículo">
                                        <label class="custom-control-label" for="padron-vehículo">Padrón Vehículo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="revision-tecnica">
                                        <label class="custom-control-label" for="revision-tecnica">Revisión Técnica / Homologado</label>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-md-6 form-group">
                            <label></label>
                        </div>                                               
                        <div class="col-5 form-group mt-3">                                    
                            <select class="custom-select">
                                <option selected>Permiso de Circulación</option>
                                <option>Seguro Obligatorio (SOAP)</option>
                                <option>Padrón Vehículo</option>
                                <option>Revisión Técnica / Homologado</option>
                            </select>
                        </div>                        
                        <div class="col-7 form-group mt-3">                                                       
                            <input class="form-control col-6" type="file" id="formFileMultiple" multiple accept=".pdf, .doc, .docx">
                        </div>       
                        <div class="col-6 form-group mt-3">                                                       
                            <!-----ES PARAR PODER TENER LA SEPARACIÓN-->                            
                        </div>        
                        <div class="col-md-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-danger btn-lg mb-1 col-5" data-bs-toggle="modal" data-bs-target="#modal-eliminar-vehiculo">
                                Eliminar
                            </button>
                            <button type="button" class="btn btn-success btn-lg mb-1 col-5 ml-2" data-bs-toggle="modal" data-bs-target="#modal-modificar-vehiculo">
                                Modificar
                            </button>
                        </div>                                                                                                                    
                    </div>                
                </div>              
            </div>  
    
        </div>

        <!------------------------------------------------------------>
        <!--BOTON AÑADIR-->
        <div class="col-lg-12 mx-auto ml-auto" id="boton-anadir-vehiculo">
            <div class="p-30">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">                        
                        <button  type="button" class="btn btn-info btn-lg mb-1 col-3 ml-2">
                            Añadir
                        </button>
                    </div>    
                </div>
            </div>
        </div>
        
    </div>

    <!--MODAL PARA MODIFICAR DATOS VEHÍCULO-->
    <div class="modal fade" id="modal-modificar-vehiculo" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-formu-contactoLabel">MENSAJE</h5>
                </div>
                <div class="modal-body">
                    Los datos de este vehículo han sido modificados!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnAceptar-modificacion" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
            
        </div>
    </div>

    <!-------------MODAL PARA PREGUNTAR SI DESEA ELIMINAR UN VEHÍCULO----------->
    <div class="modal fade" id="modal-eliminar-vehiculo" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-avisoLabel">ADVERTENCIA</h5>
                </div>
                <div class="modal-body">
                    ¿Está seguro que eliminar este vehículo?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnElimiVehiculoSI" data-bs-target="#modal-aviso-eliminacionVehi">Si</button>
                    <button type="button" class="btn btn-danger" id="btnElimiVehiculoNO" data-bs-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
        </div>
    </div>

    <!------------------MODAL PARA AVISAR QUE SU VEHÍCULO FUE ELIMINADO---------------------->
    <div class="modal fade" id="modal-aviso-eliminacionVehi" tabindex="-1" aria-labelledby="modal-avisoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-avisoLabel">REGISTRO</h5>
                </div>
                <div class="modal-body">
                    El vehículo ha sido eliminado de su perfil!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" id="btnCuentaEliminada" data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block script %}

    <!--Para recargar todo cuando se de en aceptar-->
    <script>
        document.getElementById("btnAceptar-modificacion").addEventListener("click", function() {
            location.reload(); // Recargar la página cuando se hace clic en el botón "Aceptar"
        });
    </script>


    <!----------MODAL PARA AVISAR QUE EL VEHÍCULO FUE ELIMINADO----->
    <script>
        document.getElementById('btnElimiVehiculoSI').addEventListener('click', function () {
            $('#modal-aviso-eliminacionVehi').modal('show');
        });
    </script>

    <!----------------------MODAL PARA VOLVER SALIR Y AVOLVER A LOS VEHICULOS DEL TRANSPORTISTA------------------------->
    <script>
        document.getElementById('btnCuentaEliminada').addEventListener('click', function () {
            window.location.href = '{% url 'TRANSP_VEHI' %}'
        });
    </script>

    <!-------------SCRIPT PARA AÑADIR EL NUEVO VEHÍCULO-------->
    <script>
        // Obtiene el botón "Añadir" por su ID
        var botonAnadir = document.getElementById("boton-anadir-vehiculo");

        // Obtiene el contenedor de ejemplo original por su ID
        var contenedorEjemploOriginal = document.getElementById("contenedor-ejemplo");

        // Agrega un evento de clic al botón "Añadir"
        botonAnadir.addEventListener("click", function () {
            // Clona el contenedor de ejemplo original
            var contenedorClonado = contenedorEjemploOriginal.cloneNode(true);

            // Quita la clase "d-none" para mostrar el contenedor clonado
            contenedorClonado.classList.remove("d-none");

            // Agrega el contenedor clonado al final de la sección
            contenedorEjemploOriginal.parentNode.appendChild(contenedorClonado);

            // Mueve el botón "Añadir" al final de la sección
            contenedorEjemploOriginal.parentNode.appendChild(botonAnadir);

            // Quita la clase "ml-2" y agrega "mr-2" al botón para alinear a la derecha
            botonAnadir.classList.remove("ml-2");
            botonAnadir.classList.add("mr-2");

        });
    </script>

{% endblock script %}