{% extends "core/plantilla2.html" %}
{% load static %} 


{% block contenido %}

    <!--CONTENIDO DEL LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            
            <div class="col-lg-4">
                
                <div class="bg-light p-10 mb-2 text-center">
                    <h1 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Transportista</span></h1>
                </div>
                <div class="bg-light p-30 mb-5">
                    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Información</span></h2>
                    <h3><a href="{% url 'TRANSP_DATOS' %}" class="color-links">DATOS</a></h3>
                    <h3><a href="{% url 'TRANSP_DOMICI' %}" class="color-links">DOMICILIO</a></h3>
                    <h3><a href="{% url 'TRANSP_VEHI' %}" class="color-links">MIS VEHÍCULOS</a></h3>
                    <h3><a href="{% url 'TRANSP_PEDI' %}" class="color-links">PEDIDOS</a></h3>
                    <h3><a href="{% url 'TRANSP_TRANSPOR' %}" class="color-links">MIS TRANSPORTES</a></h3>
                </div>


            </div>

            <div class="col-lg-8 mx-auto">
                <div class="bg-light p-30 mb-5">
                    <div class="row">

                        <!------------------------------------------------------------>
                        <div class="col-12">
                            <h3 class="section-title position-relative text-uppercase mb-3 mt-3 text-left"><span class="bg-light pr-3">TRANSPORTE DE PEDIDOS</span></h3>
                        </div>
                        <!-------------------TABLA DE HISTORIAL DE PEDIDO---------->
                        <div class="col-md-12 form-group">
                            <table class="table table-dark table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID_PEDIDO</th>
                                        <th scope="col">FECHA</th>
                                        <th scope="col">MONTO ENVÍO </th>
                                        <th scope="col">ESTADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0001_0001</th>
                                        <td>10/04/23</td>
                                        <td>$ 100.000</td>
                                        <td>En Camino</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">0002_0002</th>
                                        <td>10/05/23</td>
                                        <td>$ 125.000</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">0003_0003</th>
                                        <td>10/06/23</td>
                                        <td>$ 150.500</td>
                                        <td>Entregado</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        <!------------------------------------------------------------->
                        <!--TITULO DETALLE DE PEDIDO Y BOTON "MODIFICAR"-->
                        <div class="col-4">
                            <h3 class="section-title position-relative text-uppercase mb-3 text-left"><span class="bg-light pr-3">ESTADO ENVÍO</span></h3>
                        </div>
                        <div class="col-4">
                            <select class="custom-select">
                                <option selected>En camino</option>
                                <option>Entregado</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <div class="d-flex justify-content-begin">
                                <button type="button" class="btn btn-success btn-md mb-1">ACTUALIZAR</button>
                            </div>
                        </div>
                        

                        <!--VER ESTADO DEL ENVIO-->
                        <div class="col-lg-12 mt-5">
                            <div class="bg-light mb-5 border border-dark">
                                <div class="border-bottom pb-2 separacion-detalles row">
                                    
                                    <input type="range" class="form-range col-12" min="0" max="2" id="customRange2">
                                    
                                    <div class="col-4 text-center mt-3">
                                        <!-- Imagen encima del texto -->
                                        <img src="{% static 'img/retiro.svg' %}" class="estilo-iconos" alt="Descripción de la imagen">
                                        <h6>RETIRO</h6>
                                    </div>
                                    
                                    <div class="col-4 text-center mt-3">
                                        <!-- Icono 2 -->
                                        <img src="{% static 'img/envio.svg' %}" class="estilo-iconos" alt="Descripción de la imagen">
                                        <h6>EN CAMINO</h6>
                                    </div>
                                    <div class="col-4 text-center mt-3">
                                        <!-- Icono 3 -->
                                        <img src="{% static 'img/recepcion-cliente.svg' %}" class="estilo-iconos" alt="Descripción de la imagen">
                                        <h6>RECEPCIÓN CLIENTE</h6>
                                    </div>
                                          
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>              
            </div>  

        </div>
    </div>
    
{% endblock contenido %}

{% block script %}

    <!--CONFIGURANDO LA BARRA QUE SE DESLIZA-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        var rangeInput = $('#customRange2');
        var columns = $('.columnas .col-2');

        rangeInput.on('input', function () {
            var value = parseInt(rangeInput.val());

            columns.each(function (index) {
                if (index <= value) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
    </script>

{% endblock script %}