{% extends "core/plantilla2.html" %}
{% load static %} 

{% block contenido %}

    <!--CONTENIDO DEL LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            
            <!---DATOS BASICOS DEL PRODUCTOR--->
            <div class="col-lg-4">

                <div class="bg-light p-10 mb-2 text-center">
                    <h1 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Productor</span></h1>
                </div>
                <div class="bg-light p-30 mb-5">
                    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pr-3">Información</span></h2>
                    <h3><a href="{% url 'PROD_DATOS' %}" class="color-links">DATOS</a></h3>
                    <h3><a href="{% url 'PROD_DOMICI' %}" class="color-links">DOMICILIO</a></h3>
                    <h3><a href="{% url 'PROD_PRODUC' %}" class="color-links">PRODUCTOS</a></h3>
                </div>

            </div>
            
            <!---FORMULARIO DE INGRESO DE PRODUCTOS--->
            <div class="col-lg-8 mx-auto">
                <div class="bg-dark p-30 mb-3">
                    <div class="row">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!------------------------------------------------------------>
                            <div class="col-12">
                                <h2 class="section-title position-relative text-uppercase mb-3 mt-3 text-left text-light"><span class="bg-dark pr-3">AGREGAR PRODUCTOS</span></h2>
                            </div>                  
                            <!----------------DATOS-------------------------------------->
                            <div class="col-lg-12">
                                <div class="bg-light mb-3 border border-dark  col-lg-12">
                                    <div class="border-bottom pb-2 separacion-detalles">
                                        
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6>PRECIO</h6>
                                            <div class="col-md-6 form-group">
                                                <input class="form-control" type="number" name="precio" placeholder="$ 0000">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6>CANTIDAD</h6>
                                            <div class="col-md-6 form-group">
                                                <input class="form-control" type="number" name="stock" placeholder="0000">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">

                                            <h6>CALIBRE FRUTA</h6>                                           
                                            <!----COMBOBOX---CALIBRES----->
                                            <div class="col-md-7 form-group">                                                
                                                <select class="custom-select" name="calibre_idcalibre">
                                                    <option value="">Seleccione Calibre</option>
                                                    {% for c in calibres %}
                                                    <option value="{{ c.id_calibre }}">{{ c.desc_calibre}}</option>                                                
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>

                                        <!----------------------------->
                                        <div class="d-flex justify-content-between align-items-center">

                                            <h6>NOMBRE PRODUCTO</h6>                                            
                                            <!----COMBOBOX---PRODUCTOS----->
                                            <div class="col-md-7 form-group">                                                
                                                <select class="custom-select" name="producto_idproducto">
                                                    <option value="">Seleccione Producto</option>
                                                    {% for p in productos %}
                                                    <option value="{{ p.id_producto }}">{{ p.nombre_producto}}</option>                                                
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6>RUT/productor</h6>
                                            <div class="col-md-6 form-group">
                                                <input class="form-control" type="text" placeholder="{{user_info.Rut_usuario}}" readonly>
                                            </div>
                                        </div>                                                                  
                                    </div>
                                </div>
                            </div>
                            
                            <!-----------------BOTONES DEL CRUD DE PRODUCTOS------------------------>
                            <div class="col-lg-12 mb-4">                        
                                <div class="bg-dark mb-2 ">
                                    <div class="pb-2 separacion-detalles">                                        
                                        
                                        <div class="d-flex justify-content-between">
                                            <button type="submit" class="btn btn-success btn-lg mb-1 w-100 " data-bs-toggle="modal" data-bs-target="#modal-modifi-domicilio-prod">
                                                AÑADIR
                                            </button>                                                                                        
                                        </div>                                        

                                                                                                       
                                    </div>
                                    
                                </div>
                            </div>
                            <!--------->

                            <div class="col-12">
                                <h2 class="section-title position-relative text-uppercase mb-3 mt-3 text-left text-light"><span class="bg-dark pr-3">MIS PRODUCTOS</span></h2>
                            </div>   

                            <!-------------------TABLA DE HISTORIAL DE PRODUCTOS---------->
                            <div class="col-md-12 form-group">
                                <table class="table table-dark table-striped table-hover border border-light">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="d-none d-md-table-cell">NOMBRE PRODUCTO</th>
                                            <th scope="col">CALIBRE</th>
                                            <th scope="col" class="d-none d-md-table-cell">PRECIO</th>
                                            <th scope="col">STOCK</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for producto in productos_productor %}
                                        <tr>
                                            <th scope="row" class="d-none d-md-table-cell">{{ producto.nombre_producto }}</th>
                                            <td >{{ producto.calibre }}</td>
                                            <td class="d-none d-md-table-cell">$ {{producto.precio}}</td>
                                            <td>{{ producto.stock }}</td>                                         
                                        </tr> 
                                        {% endfor %}                                       
                                    </tbody>
                                </table>
                                
                            </div>
                            <!------------------------------------------------------------->
                    </div>
                </div>              
            </div>  

        </div>
    </div>
    <!------------------------------------->

{% endblock contenido %}