{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Feria Virtual</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!------------------------------------------------------->
    <meta http-equiv="cache-control" content="no-store">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">

    <!-- Icono de la pestaña de la pagina -->
    <link href="{% static 'img/logo_v3.png' %}" rel="icon" type="image/x-icon">

    <!-- Google Web Fonts -->
    <!-- Para poder cargar las fuentes de Google Web Fonts en tu página web, lo que te permite utilizar la fuente
     "Roboto" en varios pesos y asegurarte de que se muestre correctamente en tu sitio web.-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- LIBRERIAS DE ESTILO -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

    <!--WEY YAAAA-->
    <!-- Incluye los estilos de Bootstrap (CSS) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">

    <!-- Incluye el JavaScript de Bootstrap (JS) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

    <!-----MERCADO PAGO-->
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <!-- LINKEO A LA PAGINA DE ESTILOS CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="fondo-fruta">
    <!-- Primera barra de navegación (con boton de busqueda) -->
    <div class="container-fluid">
        
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-7">
                <!-- Icono de la pestaña de la página -->
                <img src="{% static 'img/logo_v3_mediano.png' %}" alt="Imagen triste" class="img-fluid mx-auto d-inline-block align-middle h-100">

                <a href="{% url 'INDEX' %}" class="text-decoration-none  mt-3">
                    <span class="h1 text-uppercase text-white bg-success px-2">Feria</span>
                    <span class="h1 text-uppercase text-success bg-dark px-2 ml-n1">Virtual</span>
                </a>                            
            </div>
                       
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Contactenos</p>
                <h5 class="m-0">+560 22334455</h5>
            </div>
        </div>
    </div>
    <!-- Fin de la primera barra de navegacion -->


    <!-- BARRA DE NAVEGACIÓN -->
    <div class="container-fluid bg-dark mb-30" style="margin-bottom: 0;">
        <div class="row px-xl-12" >
            
            <div class="col-lg-12" >
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="index.html" class="text-decoration-none d-block d-lg-none">
                        <!--ACA SE REFIERE A CUANDO LA BARRA DE NAV SE CONTRAE-->
                        <span class="h1 text-uppercase text-white bg-success px-2">Feria</span>
                        <span class="h1 text-uppercase text-success bg-dark px-2 ml-n1">Virtual</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'INDEX' %}" class="nav-item nav-link text-light">Inicio</a>
                            <!--<a href="{% url 'PRODUCTOS' %}" class="nav-item nav-link text-light">Productos</a>-->
                            <a href="{% url 'NOSOTROS' %}" class="nav-item nav-link text-light">Nosotros</a>
                            <!--<a href="{% url 'CONTACTO' %}" class="nav-item nav-link text-light">Contacto</a>-->

                            {% if request.session.user_info.tipo_usuario == 'PRODUCTOR' %}
                                <a href="{% url 'PROD_DATOS' %}" class="nav-item nav-link text-light">Perfil</a>
                            {% elif request.session.user_info.tipo_usuario == 'CLIENTENORMAL' %}
                                <a href="{% url 'PRODUCTOS' %}" class="nav-item nav-link text-light">Productos</a>
                                <a href="{% url 'CLIENTE_DATOS' %}" class="nav-item nav-link text-light">Perfil</a>
                            {% elif request.session.user_info.tipo_usuario == 'CLIENTEEMP' %}
                                <a href="{% url 'PRODUCTOS' %}" class="nav-item nav-link text-light">Productos</a>
                                <a href="{% url 'CLIENTE_DATOS' %}" class="nav-item nav-link text-light">Perfil</a>
                            {% elif request.session.user_info.tipo_usuario == 'TRANSPORTISTA' %}
                                <a href="{% url 'TRANSP_DATOS' %}" class="nav-item nav-link text-light">Perfil</a>
                                <a href="{% url 'SUBASTAS' %}" class="nav-item nav-link text-light">Subastas</a>  
                            {% else %}
                                <a href="{% url 'PRODUCTOS' %}" class="nav-item nav-link text-light">Productos</a>
                            {% endif %}


                            {% block menu %}
                            
                            {% endblock menu %}
                                                                              
                        </div>

                        {% if request.session.user_info.tipo_usuario == 'CLIENTENORMAL' %} 
                        <!--ICONO CARRITO DE COMPRAS-->
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block mr-3">
                            <a href="{% url 'CARRITO' %}" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-success"></i>
                                <span id="carrito-cantidad" class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                        {% elif request.session.user_info.tipo_usuario == 'CLIENTEEMP' %}
                        <!--ICONO CARRITO DE COMPRAS-->
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block mr-3">
                            <a href="{% url 'CARRITO' %}" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-success"></i>
                                <span id="carrito-cantidad" class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                        {% endif %}


                        <!---DATOS DEL USUARIO CON LA SESIÓN INICIADA---->
                        <a href="#" class="nav-item nav-link text-light disabled">{{ user_info.username }}</a> 

                        {% if request.session.user_info.tipo_usuario == 'PRODUCTOR' %} 
                            
                            <a href="#" class="nav-item nav-link text-light disabled">{{ user_info.NombreCompleto }}</a>
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.Rut_completo }}</a>-->  
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.tipo_usuario }}</a>-->
                            
                        
                        {% elif request.session.user_info.tipo_usuario == 'CLIENTENORMAL' %}
                            
                            <a href="#" class="nav-item nav-link text-light disabled">{{ user_info.NombreCompleto }}</a>                         
                            
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.Rut_completo }}</a> -->  
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.tipo_usuario }}</a>-->
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.id_cliente }}</a>-->
                            

                        {% elif request.session.user_info.tipo_usuario == 'CLIENTEEMP' %}

                            <a href="#" class="nav-item nav-link text-light disabled">{{ user_info.RazonSocial }}</a>
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.Rut_usuario }}</a>-->
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.tipo_usuario }}</a>-->
                            <!--<a href="" class="nav-item nav-link text-light">{{ user_info.id_cliente }}</a>-->
                        
                        {% elif request.session.user_info.tipo_usuario == 'TRANSPORTISTA' %}

                        <a href="#" class="nav-item nav-link text-light disabled">{{ user_info.NombreCompleto }}</a>
                        <!--<a href="" class="nav-item nav-link text-light">{{ user_info.Rut_completo }}</a>-->
                        <!--<a href="" class="nav-item nav-link text-light">{{ user_info.tipo_usuario }}</a>-->
                                            
                        {% endif %}
                                                                         

                        <!--OPCIONES QUE SE MUESTRAN CUANDO HAY USUARIO CON LA SESIÓN INICIADA--->
                        {% if user_info %}
                            
                            <!-- Botón para cerrar sesión -->
                            <button type="button" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target="#modal-cierre-sesion">
                                Cerrar Sesión
                            </button>

                            
                        {% else %}
                            <!-- Botones para inicio de sesión y registro -->
                            <!-- Aquí colocas tus botones de inicio de sesión y registro si el usuario no ha iniciado sesión -->
                            <!--Aca se pone el boton de inicio de sesion y de registro-->
                            <button id="btnIniciosesion" class="btn btn-success px-3 mr-2">Iniciar Sesión</button>
                            <button type="button" class="btn btn-success px-3" data-bs-toggle="modal" data-bs-target="#modal-registro">
                                Registrarse
                            </button>
                        {% endif %}

                        

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- FIN DE LA BARRA DE NAVEGACIÓN -->

    <!-- MODAL CIERRE DE SESIÓN-->
    <div class="modal fade" id="modal-cierre-sesion" tabindex="-1" aria-labelledby="modal-registroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-registroLabel">ADVERTENCIA</h5>            
                </div>
                <div class="modal-body">
                    ¿Desea cerrar su sesión?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnCerrarSesion">Si</button>
                    <button type="button" class="btn btn-danger" id="btnVolver" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>            
                </div>
            </div>
            
        </div>
    </div>

    
   
    <!--REGION QUE SERÁ EDITABLE-->
    {% block contenido %}
    
    {% endblock contenido %}

    <!------------------------------>
    <!-- 1ER MODAL (PARA ELEGIR QUE TIPO DE USUARIO)-->
    <div class="modal fade" id="modal-registro" tabindex="-1" aria-labelledby="modal-registroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-registroLabel">REGISTRO</h5>
                    <button type="button" class="btn btn-danger ml-3" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
                <div class="modal-body">
                    Tipo de perfil solicitado
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnCliente">Cliente</button>
                    <button type="button" class="btn btn-success" id="btnProductor">Productor</button>
                    <button type="button" class="btn btn-success" id="btnTransportista">Transportista</button>
                </div>
            </div>
            
        </div>
    </div>
    <!--2DO MODAL (PARA TIPO DE CLIENTE)-->
    <div class="modal fade" id="modal-cliente" tabindex="-1" aria-labelledby="modal-clienteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-clienteLabel">REGISTRO</h5>
                    <button type="button" class="btn btn-danger ml-3" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
                <div class="modal-body">
                    ¿Qué tipo de cliente eres?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-success" id="btnClientePersona">Persona natural</button>
                    <button type="button" class="btn btn-outline-success" id="btnClienteEmpresa">Empresa</button>
                </div>
            </div>
        </div>
    </div>
    
   
    <!-- BOTON PARA VOLVER ARRIBA -->
    <a href="#" class="btn btn-success back-to-top"><i class="fa fa-angle-double-up"></i></a>

    {% block script %}
    
    {% endblock script %}

    <!--SCRIPT DE BOTON PARA CERRAR SESIÓN-->
    <script>
        document.getElementById('btnCerrarSesion').addEventListener('click', function () {
            
            window.location.href = "{% url 'CERRAR_SESION' %}";
        });
    </script>

    <!--SCRIPTS DE BOTONES INICIO DE SESIÓN Y REGISTRO POR TIPOS DE USUARIO-->
    <!------------------------------------------------------------------------->
    <script>
        document.getElementById('btnIniciosesion').addEventListener('click', function () {
            window.location.href = '{% url 'INICIO_SESION' %}'    
        });
    </script>
    
    <script>
        document.getElementById('btnProductor').addEventListener('click', function () {
            window.location.href = '{% url 'REGIS_PROD' %}'    
        });
    
        document.getElementById('btnTransportista').addEventListener('click', function () {
            window.location.href = '{% url 'REGIS_TRANSP' %}'    
        });
    </script>

    <!--SCRIPT DE BOTON REGISTRO DE CLIENTE-->
    <script>
        document.getElementById('btnCliente').addEventListener('click', function () {
            $('#modal-cliente').modal('show');
        });
    </script>
    
    <!--BOTONES PARA IR A REGISTRO POR TIPO DE CLIENTE-->
    <script>
        document.getElementById('btnClientePersona').addEventListener('click', function () {
            window.location.href = '{% url 'REGIS_PERSONA' %}'    
        });
    
        document.getElementById('btnClienteEmpresa').addEventListener('click', function () {
            window.location.href = '{% url 'REGIS_EMPRESA' %}'    
        });
    </script>

    <!--SCRIPT PARA HABILITAR EL INPUT DE AGREGAR DIRECCION DE ENTREGA-->
    <script>
        document.getElementById('btn-modificar').addEventListener('click', function () {
            // Habilitar la edición del input
            //$("#direccion_despacho_input").prop("readonly", false);
            $('#modal-direccion-entregaOK').modal('show');
            $("#direccion_despacho_input").prop("readonly", false);
        });

    </script>

    <!---SCRIPT PARA REDIRIGIR A LOS PRODUCTOS UNA VEZ SE AGREGUEN COSAS AL CARRITO-->
    
    <script>
        document.getElementById('btnAceptarCarrito').addEventListener('click', function () {
            
            window.location.href = "{% url 'CARRITO' %}";
        });
    </script>

    <!---SCRIPT PARA MANDAR A AGREGAR DIRECCION DE DESTINO-->
    <script>
        document.getElementById('btnAceptarPEDIDOOK').addEventListener('click', function () {
            
            window.location.href = "{% url 'CONFIRME_DIRECCION' %}";
        });
    </script>

    <!--------------------------------------------------------------------->
    <!--SCRIPT PARA HABILITAR LOS INPUT DATOS CLIENTE-->
    <script>
        document.getElementById('modificar-datosCLIENTE').addEventListener('click', function () {
            // Habilitar la edición del input
            //$("#direccion_despacho_input").prop("readonly", false);
            $('#modal-cambiar-datosCLIENTE').modal('show');
            $("#nombre_clientePERSONA").prop("readonly", false);
            $("#apellido_clientePERSONA").prop("readonly", false);
            $("#apellidomat_clientePERSONA").prop("readonly", false);
            $("#fecha_clientePERSONA").prop("readonly", false);
        });

    </script>
    <!--------------------------------------------------------------------->
    <!-- LIBRERIAS PARA PODER USAR BOOSTRAP -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!---SCRITP para carrito--->
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/formularios.js' %}"></script>
   
    <!-- MODALES? -->
    <script>
    const myModal = document.getElementById('modal-registro');
    const myInput = document.getElementById('myInput');
            
    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus();
    });
    </script>

</body>

<footer>
    <div class="container-fluid bg-dark text-white pt-5 ">
        
        <div class="row justify-content-center px-xl-5">
            <!-- Icono de la pestaña de la página -->
            <img src="{% static 'img/t_logo_semi2.png' %}" alt="Imagen triste" class="img-fluid mx-auto d-inline-block align-middle h-100">
            
           
        </div>
        <a href="#" class="nav-item nav-link text-light text-center  disabled">© 2023 Maipo Grande. Todos los Derechos Reservados.</a>
    </div>
</footer>



</html>