{% extends "core/plantilla2.html" %}
{% load static %}

{% block contenido %}

{% load humanize %}
<div id="main-content" style="display: flex; flex-direction: column; min-height: 60vh; margin-bottom: 50px;">
    <!-- INICIO DE LA SECCIÓN DE LOS PRODUCTOS -->
    <div class="container-fluid pt-5 pb-3">

        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">PRODUCTOS DISPONIBLES</span>
        </h2>

        <div class="col-lg-4 col-6 text-center mb-5 mx-auto">
            <form method="GET" action="{% url 'PRODUCTOS' %}">
                <div class="input-group">
                    <input type="text" name="q" class="form-control text-center" style="text-align: center;" placeholder="Buscar productos">
                    <div class="input-group-append">
                        <span class="input-group-text bg-dark text-success">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="row px-xl-5">

            {% for p in productos %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">

                        <!-- <span><img class="img-fluid w-100" src="{{ p.img }}" alt="Imagen de {{ p.nombre_producto }}" width="100" height="100"></span> -->
                        <span><img class="img-fluid w-100" src="{% static p.img %}" alt="Imagen de {{ p.nombre_producto }}" width="100" height="100"></span>

                        <div class="product-action">
                            <a class="btn btn-outline-info" href="{% url 'DETALLE_PRODUCTO' p.rut_productor|urlencode p.nombre_producto|urlencode p.calibre|urlencode %}">
                                <i class="fa fa-search"></i> Ver Detalle del producto
                            </a>
                           <!-- <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>--->                          
                        </div>

                    </div>
                    <div class="text-center py-4 bg-dark mt-5">

                        <h3 class="color-menu mb-4">{{ p.nombre_producto }}</h3>  
                                                       
                        <div class="d-flex align-items-center justify-content-left ml-3 mt-2">                            
                            <h4 class="color-menu">Precio: ${{ p.precio | intcomma }}</h4>                                                                                                        
                        </div>   
                        <div class="d-flex align-items-center justify-content-left ml-3 mt-2">                            
                            <span><h5 class="color-menu">Stock: {{ p.stock }}</h5></span>                                                                                                     
                        </div>   
                        <div class="d-flex align-items-center justify-content-left ml-3 mt-2">                            
                            <span><h5 class="color-menu">Calibre: {{ p.calibre }}</h5></span>   
                            <span><h5 class="color-menu">({{ p.calibre_id }})</h5></span>                                                                                                  
                        </div>   
                        <div class="d-flex align-items-center justify-content-left ml-3 mt-2">                            
                            <span><h5 class="color-menu">Productor: {{ p.nombre_productor }}</h5></span>                                                                                                      
                        </div>   
                     
                        <div class="d-flex align-items-center justify-content-left ml-3 mt-2">                            
                            <span><h5 class="color-menu">Rut del Productor: {{ p.rut_productor }}</h5></span>                                                                                                    
                        </div>   
                                                                            
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <!-- FIN DE LA SECCIÓN DE PRODUCTOS-->
</div>
{% endblock contenido %}