{% extends "core/plantilla2.html" %}
{% load static %}

{% block contenido %}

    <!--NAVEGAR EN LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'INDEX' %}">Inicio</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'PRODUCTOS' %}">Productos</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'CARRITO' %}">Carrito de compras</a>
                    <span class="breadcrumb-item active">Detalle del producto</span>
                </nav>
            </div>
        </div>
    </div>

    <!-- INICIO DE LA SECCIÓN DEL DETALLE DEL PRODUCTO -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel"  data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{% static 'img/platano.jpg' %}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>Plátano</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                        </div>
                        <small class="pt-1">(Buenardo)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">$1.350 (Kg)</h3>
                    <p class="mb-4">Platano dulce del mejor calibre, etc..
                        Lleve del mejor producto casera.. Lorem itsum o algo asi..
                    </p>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Calibre:</strong>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-1" name="size">
                                <label class="custom-control-label" for="size-1">Bajo</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-2" name="size">
                                <label class="custom-control-label" for="size-2">Alto</label>
                            </div>
                        </form>
                    </div>
                    
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-success btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-success btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-success px-3"><i class="fa fa-shopping-cart mr-1"></i> Añadir al
                        Carrito    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}    
