{% extends "core/plantilla2.html" %}
{% load static %}

{% block contenido %}

    <!--NAVEGAR EN LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'INDEX' %}">Inicio</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'PRODUCTOS' %}">Productos</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'CARRITO' %}">Carrito de compras</a>
                    <span class="breadcrumb-item active">Detalle del producto</span>
                </nav>
            </div>
        </div>
    </div>

    <!-- INICIO DE LA SECCIÓN DEL DETALLE DEL PRODUCTO -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel"  data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <span><img class="img-fluid w-100" src="{% static producto.img %}" alt="Imagen de {{ p.nombre_producto }}" width="100" height="100"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ producto.nombre_producto }} ({{ producto.id_producto }})</h3>
                    
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                        </div>                        
                    </div>
                   
                    <h3 class="font-weight-semi-bold mb-4">Precio : ${{ producto.precio}}</h3>
                    <!-- Input oculto con el valor de pedido.id_pedido -->
                    <input type="hidden" id="stock" name="stock" value="{{ producto.stock }}">

                    <h3 class="font-weight-semi-bold mb-4">Stock : {{ producto.stock }}</h3>
                    <h3 class="font-weight-semi-bold mb-4">Calibre : {{ producto.calibre }} ({{ producto.calibre_id }})</h3>                    
                    
                    {% if user_info %}
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 200px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-success btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>                                
                                </div>
                                
                                <input type="number" id="cantidadProducto" class="form-control bg-secondary border-0 text-center" value="1">

                                <div class="input-group-btn">
                                    <button class="btn btn-success btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-success px-3 add-to-cart"
                                
                                data-product="{{ producto.nombre_producto }}" 
                                data-calibre="{{ producto.calibre }}"
                                data-calibre_id="{{ producto.calibre_id }}" 
                                data-precio="{{ producto.precio }}"
                                data-rut_productor="{{ producto.rut_productor }}" 
                                data-id_producto="{{ producto.id_producto }}" 
                                onclick="validarCantidad()">
                                <i class="fa fa-shopping-cart mr-1">
                                </i> Añadir al Carrito
                            </button>                                                                                                                

                            
                        </div>
                    {% else %}
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img src="{% static 'img/triste.png' %}" alt="Imagen triste" class="img-fluid mx-auto">
                            <h4 class="font-weight-semi-bold mb-4 text-center">                        
                                Si desea comprar                       
                            </h4> 
                            <h4 class="font-weight-semi-bold mb-4 text-center">                        
                                Primero debe registrarse                        
                            </h4>          
                        </div>        

                    {% endif %}
                    
                    <!--MODAL PARA DECIR QUE SE AGREGARON LOS PRODUCTOS AL CARRITO-->

                    <div class="modal fade" id="modal-carrito" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title" id="modal-formu-contactoLabel">MENSAJE</h5>
                                </div>
                                <div class="modal-body">
                                    Se han agregado con éxito los productos al carrito! 
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-success" id="btnAceptarCarrito" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!---MODAL 'INGRESE UNA CANTIDAD VALIDA'-->
                    <div class="modal fade" id="modal-carrito-CantidadValida" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title" id="modal-formu-contactoLabel">Error</h5>
                                </div>
                                <div class="modal-body">
                                    Ingrese una cantidad valida!
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-danger" id="Wat" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!--MODAL 'STOCK DISPONIBLE'--->
                    <div class="modal fade" id="modal-carrito-StockDisponible" tabindex="-1" aria-labelledby="modal-formu-contactoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title" id="modal-formu-contactoLabel">Lo sentimos</h5>
                                </div>
                                <div class="modal-body">
                                    No puede ingresar una cantidad superior al stock disponible!
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-danger" id="Wat" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}    



