{% extends "core/plantilla.html" %}
{% load static %}

{% block contenido %}
    <!-- INICIO DE LA SECCIÓN DE LOS PRODUCTOS -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">PRODUCTOS DISPONIBLES</span></h2>
        <div class="row px-xl-5">

            {% for p in productos %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'img/platano.jpg' %}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-success btn-square" href="{% url 'DETALLE_PRODUCTO' %}"><i class="fa fa-search"></i></a>
                            <a class="btn btn-outline-success btn-square" href=""><i class="fa fa-shopping-cart"></i></a>                          
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h5>{{ p.nombreproducto }}</h5>
                          
                        <div class="d-flex align-items-center justify-content-center mt-2">                            
                            <span><h5>{{ p.descproducto }}</h5></span>                                                                                 
                        </div>                   
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <!-- FIN DE LA SECCIÓN DE PRODUCTOS-->
{% endblock contenido %}