{% extends "core/plantilla2.html" %}
{% load static %}

{% block contenido %}

    <!--NAVEGAR EN LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'INDEX' %}">Inicio</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'PRODUCTOS' %}">Productos</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'CARRITO' %}">Carrito de compras</a>
                    <span class="breadcrumb-item active">Detalle del producto</span>
                </nav>
            </div>
        </div>
    </div>

    <!-- INICIO DE LA SECCIÓN DEL DETALLE DEL PRODUCTO -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel"  data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <span><img class="img-fluid w-100" src="{% static producto.img %}" alt="Imagen de {{ p.nombre_producto }}" width="100" height="100"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ producto.nombre_producto }} ({{ producto.id_producto }})</h3>
                    
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                        </div>
                        <small class="pt-1">(Buenardo)</small>
                    </div>
                   
                    <h3 class="font-weight-semi-bold mb-4">Precio : ${{ producto.precio}}</h3>
                    <h3 class="font-weight-semi-bold mb-4">Stock : {{ producto.stock }}</h3>
                    <h3 class="font-weight-semi-bold mb-4">Calibre : {{ producto.calibre }} ({{ producto.calibre_id }})</h3>                    
                    
                    
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 200px;">
                            <div class="input-group-btn">
                                <button class="btn btn-success btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>                                
                            </div>
                            
                            <input type="number" id="cantidadProducto" class="form-control bg-secondary border-0 text-center" value="1">

                            <div class="input-group-btn">
                                <button class="btn btn-success btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-success px-3 add-to-cart"
                            data-product="{{ producto.nombre_producto }}" 
                            data-calibre="{{ producto.calibre }}"
                            data-calibre_id="{{ producto.calibre_id }}" 
                            data-precio="{{ producto.precio }}"
                            data-rut_productor="{{ producto.rut_productor }}" 
                            data-id_producto="{{ producto.id_producto }}" 
                            onclick="agregarAlCarrito()">
                            <i class="fa fa-shopping-cart mr-1">
                            </i> Añadir al Carrito
                        </button>                                                                                                                

                                         

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}    

