{% extends "core/plantilla.html" %}
{% load static %}

{% block contenido %}

    <!--NAVEGAR EN LA PAGINA-->
    <div class="container-fluid mt-3">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'INDEX' %}">Inicio</a>
                    <span class="breadcrumb-item active">Registro de Productor</span>
                </nav>
            </div>
        </div>
    </div>

    <!--PROBANDO FORMULARIO-->
  
   
    
    
    <!--FORMULARIO DE REGISTRO-->
    <form method="post" action="{% url 'REGIS_PROD' %}">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-lg-8 mx-auto">
                    <h3 class="section-title position-relative text-uppercase mb-3 text-center"><span class="bg-secondary pr-3">Registro Productor</span></h3>
                    <div class="bg-light p-30 mb-5">
                        <div class="row">
                            
                            <!--PALABRAS DENTRO DEL FORMULARIO PARA SEPARAR-->
                            <div class="col-12">
                                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pr-3">Personal</span></h5>
                            </div>
                            <!-------------------SON DE 4 EN 4---------->
                            <div class="col-md-6 form-group">
                                <label for="id_nombre">Nombre</label>
                                <input name="nombre" id="id_nombre" required class="form-control" type="text" placeholder="Ingrese su nombre">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_apellidopat">Apellido Paterno</label>
                                <input name="apellidopat" id="id_apellidopat" required class="form-control" type="text" placeholder="Ingrese su primer apellido">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_apellidomat">Apellido Materno</label>
                                <input name="apellidomat" id="id_apellidomat" required class="form-control" type="text" placeholder="Ingrese su segundo apellido">
                            </div>
                            <div class="col-md-5 form-group">
                                <label for="id_rut">Numero de identificación</label>
                                <input name="rut" id="id_rut" required class="form-control" type="text" placeholder="00.000.000">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="id_dv">DV</label>
                                <input name="dv" id="id_dv" required class="form-control" type="text" placeholder="00.000.000-x">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_fechanacimiento">Fecha de Nacimiento</label>
                                <input name="fechanacimiento" id="id_fechanacimiento" required class="form-control" type="text" placeholder="00-00-00">
                            </div>
                            <!--------------------------------------------------->
                            <!--PALABRA PARA SEPARAR-->
                            <div class="col-12">
                                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pr-3">Domicilio Tributario</span></h5>
                            </div>
                            <!------------------------------------------------------>
                            <div class="col-md-6 form-group">
                                <label for="id_direccion">Dirección</label>
                                <input name="direccion" id="id_direccion" required class="form-control" type="text" placeholder="Ingrese la calle y el número">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="id_comuna_idcomuna">Comuna</label>
                                <input name="comuna_idcomuna" id="id_comuna_idcomuna" required class="form-control" type="number" placeholder="Ingrese la comuna">
                            </div>                        
                          
                            <!--PALABRA PARA SEPARAR-->
                            <div class="col-12">
                                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pr-3">Correo</span></h5>
                            </div>
                            <!------------------------------------------------------>
                            <div class="col-md-6 form-group">
                                <label for="id_correoelectronico">Correo Electrónico</label>
                                <input name="correoelectronico" id="id_correoelectronico" required class="form-control" type="email" placeholder="Ingrese su email">
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <label for="id_contrasena">Contraseña</label>
                                <input name="contrasena" id="id_contrasena" required class="form-control" type="password" placeholder="Ingrese su contraseña">
                            </div>
                            

                            <div class="col-12 text-center mt-4 mb-2">
                               
                                <button type="submit" class="btn btn-success btn-lg mb-1">
                                    Registrarse
                                </button>

                                <!--- data-bs-toggle="modal" data-bs-target="#modal-registro-productor"--->
                            </div>
                        </div>
                    </div>              
                </div>            
            </div>
        </div>
    </form>


    <!---------------------------------------->



    <!--MODAL PARA ACEPTAR TERMINOS Y CONDICIONES-->
    <div class="modal fade" id="modal-registro-productor" tabindex="-1" aria-labelledby="modal-registro-productorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-registro-productorLabel">TERMINOS Y CONDICIONES</h5>
                </div>
                <div class="modal-body">
                    Acepta los términos y condiciones para poder registrarse en la pagina web como Productor.
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btnAceptarProductor">Si</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
            
        </div>
    </div>

    <!--MODAL PARA AVISAR QUE QUEDASTE REGISTRADO O ALGO-->
    <div class="modal fade" id="modal-aviso-productor" tabindex="-1" aria-labelledby="modal-aviso-productorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="modal-aviso-productorLabel">REGISTRO</h5>
                </div>
                <div class="modal-body">
                    Usted se ha registrado correctamente!
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-success" id="btnAceptar2Productor" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}
    
{% block script %}

    <!--SCRIPT DE BOTON ACEPTAR TERMINOS Y CONDICIONES-->
    <script>
        document.getElementById('btnAceptarProductor').addEventListener('click', function () {
            $('#modal-aviso-productor').modal('show');
        });
    </script>

    <!--recargar todo cuando se de en aceptar-->
    <script>
        document.getElementById("btnAceptar2Productor").addEventListener("click", function() {
            location.reload(); // Recargar la página cuando se hace clic en el botón "No"
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtén el botón "Si" por su id
            var btnAceptarProductor = document.getElementById('btnAceptarProductor');
        
            // Agrega un evento de clic al botón "Si"
            btnAceptarProductor.addEventListener('click', function () {
                // Envía el formulario cuando se haga clic en "Si"
                document.querySelector('form').submit();
            });
        });
    </script>
    
{% endblock script %}



